body {
    background-color: var(--white);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.sfondoVerde{
    background-color:#317429;
}



.header-title {
    height: 500px;
    background-color: #e7e7e7;
    position: relative;
}

.header1{
    margin-top: 150px;
}

.footerHeigt {
   marker-end: none;
}

.coloresfondonero{
    background-color: black;
}
.textwhite{
    color: ghostwhite;
}
.fotreg{
    margin-top: 290px;
    background-color:black;
}
.spazio
{
    margin-inline-end: 243px;
}

.spazio1{
    margin-inline-end: 130px;
}
.larghezza{
   width: 700px;
}

.bordi{
    border-color: #e7e7e7;
}


.img-preview{
    width: 700px;
    height: 700px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .img-previeWelcome{
    width: 250px;
    height: 250px;
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
  }

